$def with(data)
$var title = data['title']
$var menu = data['menu']

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/main.css" />
  </head>

  <body> 
    <div class="card text-center">
        <h5 class="card-header">Halo, Selamat datang di server kami</h5>
        <div class="card-body">
          <h5 class="card-title">
            ($:data['a'])
          </h5>
        </div>
      </div>

    <script src="static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
